{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.10",
        "browsers": [">.25%"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "cjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
